.registro-acefalia-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

.registro-titulo {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.registro-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.registro-form input,
.registro-form select,
.registro-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.registro-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.submit-button {
  background-color: #28a745;
}

.cancel-button {
  background-color: #dc3545;
}

.submit-button:hover {
  background-color: #218838;
}

.cancel-button:hover {
  background-color: #c82333;
}
